@import "tailwindcss";

@theme {
  --color-primary: #a855f7; /* Purple primary color */
  --color-secondary: #10b981;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
